<?xml version='1.0' encoding='utf-8'?>
<!-- hc10.gazebo.xacro -->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="arm_gazebo" params="link">
        <gazebo reference="${link}">
            <mu1>0.2</mu1>
            <mu2>0.2</mu2>
        </gazebo>
    </xacro:macro>
    <xacro:macro name="hand_gazebo" params="link">
        <gazebo reference="${link}">
            <mu1>0.2</mu1>
            <mu2>0.2</mu2>
        </gazebo>
    </xacro:macro>
    <xacro:macro name="hc10_gazebo">
        <xacro:arm_gazebo link="base_link"/>
        <xacro:arm_gazebo link="link_1_s"/>
        <xacro:arm_gazebo link="link_2_l"/>
        <xacro:arm_gazebo link="link_3_u"/>
        <xacro:arm_gazebo link="link_4_r"/>
        <xacro:arm_gazebo link="link_5_b"/>
        <xacro:arm_gazebo link="link_6_t"/>
        <xacro:hand_gazebo link="tool0"/>
    </xacro:macro>
</robot>
